$ubuntumedium: ubuntumedium, Arial, sans-serif;
$ubuntulight: ubuntulight, Arial, sans-serif;
$ubuntubold: ubuntubold, Arial, sans-serif;
$gagalinregular: gagalinregular, Arial, sans-serif;
$lifehackmedium: lifehackmedium, Arial, sans-serif;