.burger-presentation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  //margin-bottom: 99px;

  &__photo-wrapper {
    padding-left: 51px;
    margin-right: 15px;
    background-image: url(../img/drops.svg);
    background-position: 15px 66px;
    background-repeat: no-repeat;
  }

  &__photo {
    display: block;
  }

  &__description {
    padding: 135px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__second-line {
    font-family: $lifehackmedium;
    color: #fff;
    text-transform: lowercase;
    line-height: 60px;
    font-size: 65px;
    letter-spacing: -2px;
  }
}