.composition {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 23px;
  background-color: #e35028;
  opacity: 0.4;
  border-radius: 5px;
  cursor: pointer;

  &--active {
    opacity: 1;
  }

  &__image {
    margin-bottom: 4px;
    fill: #fff;
    height: 46px;
    width: 42px;
  }

  &__text {
    font-size: 14px;
    font-family: $gagalinregular;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
  }
}