.content {
  width: 940px;
  margin: 0 auto;

  @include tablet {
    width: 720px;
  }

  @include phone {
    box-sizing: border-box;
    width: 100%;
    //min-width: 320px - 17px;
    padding: 0 10px;
  }
}