.features {
  @include list-style;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 300px;
    //flex: 1;

    @include phone {
      margin-bottom: 42px;
      flex-basis: auto;
      width: 100%;
      flex-direction: row;
      //justify-content: space-between;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__image {
    display: block;
    margin-bottom: 37px;

    @include phone {
      margin-bottom: 0;
      margin-left: 18px;
    }

    @include very-small {
      margin-left: 0;
      margin-right: 20px;
    }

    &--meat {
      width: 96.428px;
      height: 89.246px;
      fill: #E35028
    }

    &--hand {
      width: 73px;
      height: 85.875px;
      fill: #F9B43B
    }

    &--natural {
      width: 88px;
      height: 75.534px;
      fill: #8BC03F
    }
  }

  &__info {

    @include phone {
      width: 319px;
    }
  }

  &__name {
    display: block;
    margin-bottom: 16px;
    line-height: 28px;
    font-size: 24px;
    color: #2f3234;
    font-family: $lifehackmedium;
    font-weight: normal;
  }

  &__description {
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    color: #2f3234;
    font-family: $ubuntulight;
  }
}