.food-category {
  display: flex;
  height: 100%;

  &__header {
    margin: 0;
    line-height: 64px;
    font-size: 40px;
    font-family: $gagalinregular;
    color: #fff;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    transform-origin: center;
    transform: rotate(-90deg);

    @include tablet {
      margin-top: -20px;
      position: absolute;
      left: 50%;
      top: 95%;
      transform-origin: 0 0;
      transform: rotate(-90deg) translateY(-50%);
    }
  }

  &__header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;

    @include very-small {
      width: 48px;
    }

    &--meat {
      background: url(../img/bg-meat.jpg) no-repeat center;
      background-size: cover;
    }

    &--vegan {
      background: url(../img/bg-vegan.jpg) no-repeat center;
      background-size: cover;
    }

    &--diet {
      background: url(../img/bg-diet.jpg) no-repeat center;
      background-size: cover;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(20, 20, 20, 0.7);
    }
  }

  &__description-container {
    width: 0;
    overflow: hidden;
    transition: width 0.5s;


  }

  &__description {
    margin: 0;
    padding: 56px 34px;
    width: 541px;
    height: 100%;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    font-family: $ubuntulight;
    color: #fff;
    background-color: rgba(47, 50, 52, 0.9);

    @include phone {
      max-width: 400px;
    }
  }

  &__close {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &--active {

    @include phone {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 50;

      .food-category__close {
        display: block;
      }
    }

    &__description-container {

    }

/*    .food-category__description {
      width: 541px;
      padding: 56px 34px;

      @include phone {
        width: auto;
        max-width: 400px;
      }
    }*/
  }
}
