.main-form {
  display: flex;
  align-items: stretch;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__input-column {
    width: 50%;
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }

    &--second {
      .main-form__input-line {
        @include phone {
          margin-bottom: 34px;
        }
      }
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: 21px;
      width: 470px;
    }
  }

  &__input-line {
    display: flex;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    &--center {
      @include phone {
        justify-content: center;
      }
    }
  }

  &__input-wrapper {
    margin-right: 21px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }

    &--triggers {
      flex: initial;
    }

    &--floor {
      @include phone {
        display: none;
      }
    }

    &--room {
      @include phone {
        margin-right: 0;
      }
    }
  }

  &__input-label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-family: $ubuntulight;
    color: #fff;

    &--triggers {
      margin-bottom: 0;
      margin-right: 21px;
      padding-left: 23px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }
    }

    &--radio {

      &::before, &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        display: block;
        width: 15px;
        height: 15px;
        left: 0;
        background-color: #fff;
      }

      &::after {
        display: none;
        width: 7px;
        height: 7px;
        left: 4px;
        top: 4px;
        background-color: #e35028;
      }
    }

    &--checkbox {

      &::before, &::after {
        content: '';
        position: absolute;
      }

      &::before {
        display: block;
        width: 15px;
        height: 15px;
        left: 0;
        top: 0;
        background-color: #fff;
      }

      &::after {
        display: none;
        width: 11px;
        height: 9px;
        left: 2px;
        top: 3px;
        background: url(../img/checked.png) no-repeat;
      }
    }
  }

  &__input-data {
    width: 100%;
    padding: 8px 5px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-family: $ubuntulight;
    color: #2f3234;

    &:focus {
      border-color: #f9b43b;
    }

    &--textarea {
      height: 108px;
      resize: none;
    }
  }

  &__input-trigger {
    display: none;

    &:checked + .main-form__input-label--triggers::after {
      display: block;
    }
  }
}