.review {
  position: relative;
  min-height: 325px;
  height: 50vh;
  width: 25%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  z-index: 1;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      background-image: url(../img/photo-#{$i}.jpg);
    }
  }

  &__photo {
    display: none;
  }

  &:hover &__container {
    display: block;
  }

  &__container {
    display: none;
    padding: 41px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 10;
  }

  &__header {
    margin: 0;
    margin-bottom: 13px;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: $gagalinregular;
    font-weight: normal;
  }

  &__text {
    margin: 0;
    margin-bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    font-family: $ubuntulight;
  }
}