.review {
  position: relative;
  min-height: 325px;
  height: 50vh;
  width: 25%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  z-index: 1;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      background-image: url(../img/photo-#{$i}.jpg);
    }
  }

  @include tablet {
    min-height: initial;
    height: 25%;
    width: 50%;
    background-position: center;
  }

  &__photo {
    display: none;
  }

  &:hover &__container {
    //display: block;
    opacity: 1;
    visibility: visible;
  }

  &__container {
    //display: none;
    padding: 41px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    @include tablet {
      padding: 27px 50px;
      text-align: center;
    }

    @include phone {
      padding: 5px 5px;
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 13px;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: $gagalinregular;
    font-weight: normal;

    @include phone {
      font-size: 28px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    font-family: $ubuntulight;

    @include phone {
      display: none;
      /*font-size: 10px;
      max-height: 50%;
      overflow: hidden;*/
      //text-overflow: clip;
    }
  }

  &__detail {
    @include phone {
      display: none;
    }
  }

  &__detail-phone {
    display: none;

    @include phone {
      display: block;
    }
  }
}