.screen-switcher {
  @include list-style;

  &__item {
    margin-bottom: 5px;

    &--active {
      .screen-switcher__link {
        border: 1px solid #f9fafa;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}