.screen {
  min-height: 650px;
  height: 100vh;
  box-sizing: border-box;
  /*width: 1100px;
  margin: 0 auto;*/

  &__header {
    margin: 0;
    margin-bottom: 65px;
    font-size: 72px;
    color: #2f3234;
    font-family: $gagalinregular;
    font-weight: normal;
    text-align: center;
  }

  &__scroll-down {
    margin-bottom: 40px;
  }

  &--greeting {
    background-color: #000;
    background-image: url(../img/bg-pattern.png), url(../img/video-bg.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--we-best {
    background-color: #f5f2ed;
    background-image: url(../img/bg-we-best.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}