.screen {
  min-height: 650px;
  height: 100vh;
  box-sizing: border-box;

  &__title {
    margin: 0;
    font-family: $gagalinregular;
    text-transform: uppercase;
    line-height: 85px;
    font-size: 72px;
    font-weight: normal;

    &--greeting {
      margin-bottom: 17px;
      color: #f9b43b;
    }

    &--we-best {
      margin-bottom: 65px;
      color: #2f3234;
    }
  }

  &__scroll-down {
    margin-bottom: 40px;
  }

  &--greeting {
    background-color: #000;
    background-image: url(../img/bg-pattern.png), url(../img/video-bg.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--we-best {
    background-color: #f5f2ed;
    background-image: url(../img/bg-we-best.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &--reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}