.screen {
  position: relative;
  min-height: 650px;
  height: 100vh;
  box-sizing: border-box;

  &__title {
    margin: 0;
    font-family: $gagalinregular;
    text-transform: uppercase;
    line-height: 85px;
    font-size: 72px;
    font-weight: normal;

    &--yellow {
      color: #f9b43b;
    }

    &--dark {
      color: #2f3234;
    }

    &--light {
      color: #fff;
    }
  }

  &__scroll-down {
    margin-bottom: 40px;
  }

  &__team-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &__menu-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__contacts {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--greeting {
    background-color: #000;
    background-image: url(../img/bg-pattern.png), url(../img/video-bg.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-size: auto, cover;

    .screen__title {
      margin-bottom: 17px;
    }
  }

  &--we-best {
    background-color: #f5f2ed;
    @include bg-image("bg-we-best.jpg");

    .screen__title {
      margin-bottom: 65px;
    }
  }

  &--team {
    position: relative;
    @include bg-image("bg-team.jpg");

    .screen__title {
      margin-bottom: 62px;
    }
  }

  &--menu {
    position: relative;
    padding: 96px 0 0 95px;
    @include bg-image("bg-menu.jpg");
  }

  &--reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &--delivery {
    @include bg-image("bg-delivery.jpg");

    .screen__title {
      margin-bottom: 69px;
    }
  }

  &--contact {
    @include bg-image("bg-map.jpg");
  }
}